*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    margin: auto;
    background-color: black;  
}

.navegacion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
}
.nav-img{
    margin-left: 10px;
    width: 100px;  
}

.nav-menu{
    padding-right: 50px;
    padding-left: 250px;
    list-style: none;
    display: flex;
   justify-content: space-between;
}
