*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}

header{
    width: 100%;
    margin: auto;
    background-color: black;  
}

.navegacion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navegacion > ul {
    display: flex;
    list-style-type: none;
    font-size: 2rem;
    flex-wrap: wrap;
}

/* Sacar la linea de abajo del texto y cambiarle el color al texto */
ul li a {
    text-decoration: none;
    color: #f18108;
    font-family: 'Rubik', sans-serif;
}
ul>li{
    margin: 1rem;
}
.logo{
    height: 8vh;
    width: 5vw;
    border-radius: 10%;
    margin: 1rem;
}

/* Pagina Elegi tu plan */

.body-plan{
    background-repeat: round;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/claves-gym-1577207015.jpg);
    background-size: 100%;
}

#h1_plan{
    text-align: center;
    font-size: 4rem;
    color: #f18108;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.7);
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 25px;

}

.section-plan{
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.container-plan{
    margin-top: 20px;
    margin-bottom: 60px;
    width: 400px;
}

.plan-item{
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 27%);
    padding: 32px 30px;
}

.plan-item h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: #f18108;
    
}

.horario-item{
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.horario-item p{
    padding: 10px 0px;
}

.valor-item{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.precio-item{
    font-size: 40px;
    line-height: 80px;
}

.button-plan {
    display: inline-block;
    color: #f18108;
    text-align: center;
    font-size: 20px;
    padding: 14px;
    margin: 20px;
}

.button-plan:hover{
    background-color: #f18108;
    border-radius: 4px;
    color: #fff;
}

.img_plan{
    width: 300px;
    height: 175px;
    margin-top: 10px;
}

/* Pagina Sucursales */

.body-sucursal{
    background-repeat: no-repeat;
    background-image:url(./img/personal-weight-training-in-the-gym-royalty-free-image-1568020980.jpg)
}

#h1_suc{
    text-align: center;
    font-size: 4rem;
    text-decoration:solid;
    color: #f18108;
    padding: 2rem;
}

.container-suc{
    display: block;
    max-width: 90%;
    margin: 30px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.suc-item{
    display: flex;
    border-radius: 20px;
    background-color: rgba(231, 236, 241,0.7);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 27%);
}

.img-suc{
    width: 275px;
    max-height: 250px;
    margin-right: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    padding-right: 10px;
}

.contenido-sedes{
    padding-top: 10px;
    flex: 1;
    font-family: Raleway, sans-serif;
    align-items: center;
    vertical-align: middle;
}

.nombre-sede{ 
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 21.5px;
    text-decoration: solid underline;
}

.direccion-suc{
    font-size: 16px;
    margin: 10px 0px;
}

.mapa-suc{
    width: 400px;
    margin: 10px;
    border-radius: 10px;
}

/* Pagina Contacto*/
.body-contacto{
    background-image: url(./img/1366_2000.jpeg);
    background-repeat: round;
}
#h1_contacto {
text-align: center;
color: #fbfbfb;

}
.Form{
    width: 460px; 
  height: auto;
  margin: 10px auto;
  border-radius: 10px;  
  padding-top: 10px;
  padding-bottom: 20px;  
  background-color: #f18108; 
  padding-left: 30px; 
}
.input-form{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #000000; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px;
}
.text-form {
    background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #000000; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}
.label-form{
    font-size: 15px;
    color: #fbfbfb;
}
.boton{
    color: #fbfbfb;
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #e7890f; 
  border-color: #000000; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}
 /* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 1.5rem;
}

/* media query */

/*celulares*/
@media screen and (max-width:600px){
.section-plan{
    grid-template-columns:  repeat(1,1fr);
}

}

/*tablets */
@media screen and (max-width:768px){
}

/*mayores a tablets*/
@media screen and (min-width:768px){
}
