*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}

header{
    width: 100%;
    margin: auto;
    background-color: black;  
}

.navegacion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navegacion > ul {
    display: flex;
    list-style-type: none;
    font-size: 2rem;
    flex-wrap: wrap;
}

/* Sacar la linea de abajo del texto y cambiarle el color al texto */
ul li a {
    text-decoration: none;
    color: #f1a75a;
    font-family: 'Rubik', sans-serif;
}
ul>li{
    margin: 1rem;
}
.logo{
    height: 8vh;
    width: 5vw;
    border-radius: 10%;
    margin: 1rem;
}

/* Pagina Elegi tu plan */

.container-plan{
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows: 1fr 0.25fr 0.25fr 1fr;
    row-gap: 2rem;
}
.container-plan h2 {
    font-size: 3rem;
    color: #f1a75a;
    text-decoration : solid underline;
}

#h1_plan{
    text-align: center;
    font-size: 4rem;
    text-decoration:solid;
    color: black;
    padding: 2rem;
    background-color: gray;
}
.plan-item{
    text-align: center;
}
.plan-item p,span {
    font-size: 2.5rem;
    color: black;
}

.plan-item a {
    font-size: 2rem ;
    color: black;
}

.img_plan{
    height: 26vh;
    width: 33.5vw;
}


/* Pagina Sucursales */
.body-sucursal{
    background-repeat: no-repeat;
    background-image:url(./img/personal-weight-training-in-the-gym-royalty-free-image-1568020980.jpg)
}
.container-sucursales{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    row-gap: 2rem;
}

.suc-item{
    font-size: 2.5rem;
    text-align: center;
    color: black;
    
}
.suc-item p {
    color: rgb(0, 0, 0);
    text-decoration: solid underline;
}

#h1_suc{
    text-align: center;
    font-size: 4rem;
    text-decoration:solid;
    color: #d48a01;
    padding: 2rem;
    margin-bottom: 1rem;
}

/* Pagina Contacto*/
.body-contacto{
    background-image: url(./img/1366_2000.jpeg);
    background-repeat: round;
}
#h1_contacto {
text-align: center;
color: #fbfbfb;

}
.Form{
    width: 460px; 
  height: auto;
  margin: 10px auto;
  border-radius: 10px;  
  padding-top: 10px;
  padding-bottom: 20px;  
  background-color: orange; 
  padding-left: 30px; 
}
.input-form{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #000000; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px;
}
.text-form {
    background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #000000; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}
.label-form{
    font-size: 15px;
    color: #fbfbfb;
}
.boton{
    color: #fbfbfb;
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #e7890f; 
  border-color: #000000; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}
 /* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 1.5rem;
}

/* media query */

@media screen and (max-width:600px){
.container-plan{
    grid-template-columns:  repeat(1,1fr);
    }
} 
